
.set-header-grid{
    display: grid;
    grid-template-columns: 40px 1fr;
    margin: 0 auto;
}

.set-direction-row {
    display: flex;
    flex-direction: row;
}

.set-title-size {
    width: 100%;
    margin: 0 auto;
}

.set-action-icon{
    background-color: transparent;
    background-image: url("https://img.icons8.com/offices/48/000000/paper-plane.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
    border: 0;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-flex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer-contact-set-shrink {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
}

.footer-position {
    max-width: 100%;
    border-top: 0;
    margin-top: 0;
}

.social-media-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
    padding: 6%;
}

.social-media-img-size {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.img-media-size{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    filter: brightness(0) invert(1);
}

.newsletter-input {
    color: white;
    background-color: transparent;
    border: 1px solid #76c004;
}

.newsletter-position {
    max-width: 100%;
    width: 100%;
    margin-bottom: 6px;
}

.company-border {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.body-content-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
}

.filter-grey {
    filter: grayscale(100%);
    opacity: 0.3;
}

.size-contact-img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    padding-top: 50%;
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .logo {
        width: 26%;
        margin: 0;
        padding: 1% 1% 1% 2%;
    }

    .minicart-wrapper {

        margin-left: 25px;
        padding-right: 0;

        &:before {
            color: white;
        }
    }

    .title-container {
        text-align: center;
        .set-title-size();
    }

    .nav-1 {
        display: none;
    }

    .copyright {
        text-align: center;
        height: 30px;
        background-color: #76c004;
        color: white;
    }

    .ui-menu {
        .centered();
        text-transform: uppercase;
    }

    .imbody {
        width: 200px;
        height: 200px;
    }

    .panel {
        background-color: #636363;
    }

    .main-contact {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        div {
            margin: 0 auto;

            a {
                cursor: pointer;
            }

            h3 {
                text-transform: uppercase;
                font-weight: bold;
                padding-bottom: 2%;
            }
        }

    }

    .footer-container-cantact {
        width: 70%;
        display: flex;
        flex-shrink: 1;

        .main-contact>div {

            margin: 0 auto;
            font-size: 1.6rem;

            p {
                a {
                    font-size: 1.6rem;
                    cursor: pointer;
                }
            }
        }

    }

    .footer {
        background-color: #636363;
        .centered();
        color: white;
        max-width: 100%;
    }

    .list-of-companys {
        width: 99.9%;
        height: 100px;
        .company-border();
        .centered();
        margin-bottom: 1px;
        .filter-grey();
    }

    .motorolla-img {
        width: 100px;
        height: 50px;
    }

     .baofeng-img {
        width: 250px;
        height: 100%;
        margin: 0 4% 0 4%;

    }

     .icom-img {
        width: 90px;
        height: 50%;
        padding-bottom: 20px;
    }

    .inloggen-button {
        cursor: pointer;
    }

     .kenwood-img {
        width: 200px;
        height: 50%;
        margin: 0 4% 0 4%;
    }

     .hytera-img {
        width: 100px;
        height: 57%;
        padding-bottom: 15px;
    }

    .header-contacts {
        .set-header-grid();
        width: 372px;
    }

    .minicart-wrapper {
        margin-top: 5px;

        .action.showcart::before{
            color: white;
            padding: 2%;
            margin: -5px 0 0 0;
        }
        &:before {
            content: 'Winkelwagen';
            display: inline;
            padding-top: 5px;
            padding-right: 0;
        }
    }

    .header.links {
        font-size: 15px;
        color: white;
    }

    .header-vragen {
        font-weight: bold;
        font-size: 30%;
    }

    .header-number > h3 {
        color: #76c004;
        font-weight: bold;
        float: left;
        grid-column-start: 2;
        grid-column-end: 5;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .header-shedule {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .footer.content {
        .footer-position();
        padding-top: 0;
        padding-bottom: 0;
    }

    .columns .column.main {
        padding-bottom: 0;
    }

    .page-main {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .navigation {
        text-transform: uppercase;
        max-width: 100%;
        font-size: 17px;
    }

    .nav-sections {
        margin-bottom: 0;
    }

    .block-search {
        width: 37%;
        padding: 0;
        margin: 0 auto;
    }

    div.header.content {
        width: 100%;
        padding: 0;
    }

    .smart-port {
        padding: 5% 5% 10px 5%;
        text-align: center;
    }

    .main {
        padding: 3%;
    }

    .page-header > .content {
        display: flex;
        flex: 3 1 300px;
    }

    .content-body {
        .body-content-grid();
    }

    .portofoon-content {
        width: 80%;
        margin: 0 auto;
        color: #636363;
    }

    .row {
        .row-flex();
    }

    .row > div {
        text-align: center;
        padding: 12px;
    }

    .row > div > p {
        width: 58%;
        margin: 0 auto;
        font-size: 16px;
        font-weight: 500;
    }

    .bel > h3 {

        font-size: 132%;
        font-weight: 500;
    }

    .bel-num>b {
            font-weight: 600;
            font-family: 'Kalam', cursive;
            color: #76c004;
            font-size: 126%;
    }

    .bel {
        .set-direction-row();
        font-size: 117%;
    }
    .social-media-footer{

        img {
            .img-media-size();
        }

        p {
            padding: 1%;
            font-size: 10px;
        }

        .set-direction-row();

        justify-content: center;
        float: right;
        margin-right: 4%;
        padding: 0;

    }

    .social-media {

        .social-media-content();
         width: 300px;

        img {
            .social-media-img-size();
        }
    }

    .row > div > h5 {
        font-size: 1.5rem;
    }

    .content-main {

        flex: 1 4 200px;

        h1 {
            font-size: 45px;
            font-weight: 400;
        }

    }

    .block-search{

        .action.search {

            background-color: #76c004;
            margin-top: 6%;
            padding: 4px;
            right: 2%;

            &:before {
            background-color: #76c004;
            content: "Zoeken";
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            }

            &:hover {
                background-color: #76c004;
            }

        }
    }

    .image-for-content {
        width: 10%;
        margin-top: 4%;
        padding-left: 10%;
        position: absolute;
        margin-left: 4%;
    }

    input[type="email"] {
        border-radius: 5px;
    }

    form.minisearch {

        margin-top: 6%;

        input[type=text] {
            padding: 10px 30px 10px 30px;
            color: black;
            font-style: italic;
            font-size: 15px;
            border: 1px solid #00e2ad;
            float: left;
            width: 98%;
            background: white;
            border-radius: 5px;
        }

        input[type=text]::placeholder {
            color: black;
            margin-left: 20px;
            font-size: 85%;
        }

        button {
            float: left;
            width: 20%;
            padding-top: 10%;
            background: #76c004;
            color: white;
            font-size: 17px;
            border: 1px solid #00ade2;
            border-left: none;
            cursor: pointer;
            border-radius: 0 5px 5px 0;
        }
        &:after {
            content: "\e615";
            clear: both;
            display: table;
            font-family: "icons-blank-theme", serif;
            font-size: 20px;
            transform: rotate(90deg);
            margin-top: -22px;
            margin-left: 6px;
            position: absolute;
        }
    }

    .img-contact > img {
        .size-contact-img();
        transform: rotate(20deg);
    }

    .action.primary {

        .set-action-icon();

        &:hover {
            .set-action-icon();
        }
    }

    .block.newsletter .field .control::before {
        display: none;
    }

    input[type="email"]::placeholder {
        color: white;
        font-style: italic;
    }

    .footer.content .block {
        float: none;
    }

    .block.newsletter {

        .newsletter-position();

        input {
            .newsletter-input();
            padding: 0 0 0 10px;
        }

        .action.subscribe {
            margin-left: -40px;
            margin-top: 4px;
        }
    }

    .action.primary span {
        display: none;
    }

    .contact-footer {
        width: 60%;
    }

    .contact-footer2 {
        width: 62%;
    }

    .contact-footer3 {
        width: 82%;
    }

    .navigation ul {
        .set-direction-row();
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: @screen__xl) {

    .bel > h3 {
        font-size: 113%;
        font-weight: 500;
    }

    .footer-container-cantact {
        width: 100%;
        .footer-contact-set-shrink();
    }

    .list-of-companys {
        width: 99.9%;
        .company-border();
        .centered();
        margin-bottom: 1px;
        height: auto;
    }

    .image-for-content{
        width: 13%;
        margin-top:8%;
        margin-left: -3%;
    }

    .contac-top > p {
        font-size: 86%;
    }
    .contact-footer {
        padding-right: 2%;
    }
}
@media only screen and (max-width: @screen__m) {

    .main-contact>div>p>a {
        font-size: 1.6rem;
        cursor: pointer;
    }
    .header-contacts {
        .set-header-grid();
        .centered();
        width: 100%;
    }
    .content-body {
        .body-content-grid();
    }

    .portofoon-content {
        .set-title-size();
        color: #636363;
    }

    .row {
        .row-flex();
    }

    .row > div {
        text-align: center;
        padding: 12px;
    }

    .row > div > p {
        width: 90%;
        margin: 0 auto;
        font-size: 16px;
        font-weight: 500;
    }

    .bel {

        .set-direction-row();

        h3 {
            font-size: 113%;
            font-weight: 500;
        }
    }


    .bel-num {
        color: #76c004;
    }

    .social-media-footer {

        .set-direction-row();
        padding: 0;
        justify-content: center;

        img {
            .img-media-size();
        }

        p {
            padding: 1%;
            font-size: 10px;
        }
    }


    .social-media {
        .social-media-content();
        width: 300px;
    }

    .row > div > h5 {
        font-size: 1.5rem;
    }

    .content-main {

        flex: 1 4 200px;

        h1 {
            font-size: 200%;
            font-weight: 400;
        }

    }

    .img-contact > img {
        .size-contact-img();
        transform: rotate(20deg);
    }

    .action.primary {

        .set-action-icon();

        &:hover {
            .set-action-icon();
        }
    }


    .block.newsletter .field .control::before {
        display: none;
    }

    input[type="email"]::placeholder {
        color: white;
        font-style: italic;

    }

    .footer.content .block {
        float: none;
    }

    .block.newsletter {

        .newsletter-position();

        input {
            .newsletter-input();
            padding: 2%;
        }

        .action.subscribe {
            margin-left: -40px;
            margin-top: 4px;
        }
    }


    .action.primary span {
        display: none;
    }

    .list-of-companys {

        width: 99.9%;
        .company-border();
        .centered();
        margin-bottom: 1px;
        height: auto;

        img {
            .filter-grey();
            padding: 3%;
        }
    }


    .image-for-content {
        width: 9%;
        margin-top: 4%;
        position: absolute;
    }
    .footer-container-cantact {
        width: 60%;
        .footer-contact-set-shrink();
        text-align: center;
    }

    .footer {
        background-color: #636363;
        .centered();
        color: white;
        max-width: 100%;
    }

    .main-contact{

        div {
            margin: 0 auto;
        }

        div > a {
            cursor: pointer;
            font-weight: 500;
        }

        div > h3 {
            text-transform: uppercase;
            font-weight: bold;
        }

    }

    .smart-port {
        padding: 5% 5% 10px 5%;
        text-align: center;
    }

    .column {
        flex: 50%;
    }

    .footer.content {
        .footer-position();
    }

    .page-main {
        padding: 0;
    }

    input[type="email"] {
        border-radius: 5px;
    }

    .main-contact {
        display: contents;
    }

    .social-media {
        .social-media-content();
        width: 260px;
    }

    .block-search {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .bel-num>b {
        font-weight: 600;
        font-family: 'Kalam', cursive;
        color: #76c004;
        font-size: 126%;
    }

}

//default_links
@link__color: white;
@link__hover__color: #76c004;
@link__hover__text-decoration: none;
@link__active__color: white;
@link__active__text-decoration: none;
//default_button
@button__gradient: true;
@button__gradient-direction: vertical;
@button__color: white;
@button__border: 0px;
@button__gradient-color-start: #00e2ad;
@button__gradient-color-end: #76c004;
//hover_button
@button__hover__color: false;
@button__hover__background: false;
@button__hover__border: false;
