<div class="list-of-companys">
    <img alt="motorola" class="motorolla-img column" src="<?php echo $this->getViewFileUrl('images/motorola-img.png'); ?>" />
    <img alt="baofeng" class="baofeng-img column" src="<?php echo $this->getViewFileUrl('images/BAOFENG.jpg'); ?>" />
    <img alt="icom" class="icom-img column" src="<?php echo $this->getViewFileUrl('images/logo-icom.png'); ?>" />
    <img alt="kenwood" class="kenwood-img column" src="<?php echo $this->getViewFileUrl('images/KENWOOD.png'); ?>" />
    <img alt="hytera" class="hytera-img column" src="<?php echo $this->getViewFileUrl('images/HYTERA.png'); ?>" />
</div>
