<div class="header-contacts">
    <div class="img-contact">
        <img class="motorolla-img" src="<?php echo $this->getViewFileUrl('images/phone.png'); ?>" />
    </div>
        <div class="contac-top">
            <div class="bel">
                <h3> Heeft u vragen?</h3><h3 class="bel-num"><b>Bel 0512-745293</b></h3>
            </div>
            <p>Bereikbaar maandag t/m vrijdag van: 09:00 - 17:00</p>
        </div>
</div>

