<div class="footer-container-cantact">
<div class="main-contact">
    <div class="contact-footer">
    <h3>contactgegevens</h3>

    <p>
        PortofonWEB<br>
        Zonedauw16<br>
        9202 PA Drachtem<br>
    </p>

    <p>
        0512-745 293<br>
        info@portofoonweb.nl<br>
    </p>

        <p>
            K.n.K nr: 62061712<br>
            BTW nr; NL854624624B01<br>
        </p>

    </div>
    <div class="contact-footer2">
        <h3>klantenservice</h3>

        <p> <a>Contact</a><br></p>
        <p> <a>Over PortofoonWEB</a><br></p>
        <p> <a>Offerte aanvraag</a><br></p>

        <p><a>Defect en Retour</a><br></p>
        <p><a>Garantie</a><br></p>

        <p> <a>Veelgestelde vragen</a><br></p>
        <p> <a>B2B</a><br></p>
    </div>
    <div class="contact-footer3">
        <h3>algemene informatie</h3>

        <p><a>Portofoons</a><br></p>
        <p><a>Toepassingen</a><br></p>
        <p><a>Algemene voorwaarden</a><br></p>

        <p> <a>Betalen en Verzenden</a><br></p>
        <p> <a>Privacy en Cookies</a><br></p>

        <p><a>Disclaimer</a><br></p>
    </div>
    <div id="contact-footer4">
        <h3>nieuwsbrief</h3>
        <p>
            Wilt u op de hoogte gehouden
            worden van de nieuwste
            Technieken & Aanbiedingen op het
            gebied van portofoons?
        </p>
        <div class="block newsletter">
            <div class="title"><strong>Newsletter</strong></div>
            <div class="content">
                <form class="form subscribe" novalidate="novalidate" action="http://localhost/magento2/newsletter/subscriber/new/" method="post" id="newsletter-validate-detail">
                    <div class="field newsletter">
                        <div class="control">
                            <label for="newsletter">
                        <span class="label">
                            Sign Up for Our Newsletter:                        </span>
                                <input name="email" type="email" id="newsletter" placeholder="uw emailadres..." data-validate="{required:true, 'validate-email':true}">
                            </label>
                        </div>
                    </div>
                    <div class="actions">
                        <button class="action subscribe primary" title="Subscribe" type="submit" aria-label="Subscribe">
                            <span>Subscribe</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="social-media-footer">
            <img src="<?php echo $this->getViewFileUrl('images/earth.png'); ?>" />  <p class="smart-port"><b>SMART</b>PORTOFOON</p><img src="<?php echo $this->getViewFileUrl('images/facebook.png'); ?>" />
            <img src="<?php echo $this->getViewFileUrl('images/twitter.png'); ?>" />
        </div>
    </div>

    </div>
</div>



