<div class="portofoon-content">
  <div class="content-body row">
      <div class="image-for-content">
          <img src="<?php echo $this->getViewFileUrl('images/portofoonimg.png'); ?>" />
      </div>
      <div class="content-main">
      <h1>Bedankt voor uw bestelling bij PortofoonWEB!</h1>
      <h5>Goed om te Weten</h5>
      <p>
          Bent u tevreden over het bestelproces like dan onze Facebook pajina of laat een
          review achter, zo maakt u ook nog eens kans op een leike cadeau bon ter waarde van
          €100, - Wilt u graag op de hoogte blijven vann het laatste nieuws en speciale
          annbiedingen meld u zich dan aan op onze nieuwsbrief.
      </p>
      <h5>Wat gaat er nu gebeuren?</h5>
      <p>
          Per email heeft u een bevestiging ontvagen van uw bestelling met Ordernummer
          [ordernummer]. Heeft u de bestelling op een werkdag voor 17:00 gedaan en betaald,
          dan gaan wij nu direct aan de slag om te zorgen dat u het magen in huis heeft. Heeft u
          vragen over de bestelling neem dan contact met ons op 0512 - 745293 of stuur ons
          een email ann info@portofoonweb.nl.
      </p>
      <h5>Wist u dat?</h5>
      <p>
          PortofoonWEB heeft sinds kort een fenomenaal nieuwe techniek genaamd Smart
          Portofoons. Een portofoon systeem met ongekende mogelijkheden en onbeperkt
          bereik! Klik op deze link voor meer informatie.
      </p>
          <div class="social-media">
    <img src="<?php echo $this->getViewFileUrl('images/earth.png'); ?>" />  <p class="smart-port"><b>SMART</b>PORTOFOON</p><img src="<?php echo $this->getViewFileUrl('images/facebook.png'); ?>" />
          <img src="<?php echo $this->getViewFileUrl('images/twitter.png'); ?>" />
          </div>
      </div>
  </div>

</div>
