<?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
<?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>

<nav class="navigation" data-action="navigation">
    <ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>

        <li class="level0 nav-8 last level-top ui-menu-item" role="presentation"><a href="yoururl" class="level-top ui-corner-all" id="ui-id-9" tabindex="-1" role="menuitem">
                <span>portofoons</span></a>
        </li>
        <li class="level0 nav-8 last level-top ui-menu-item" role="presentation"><a href="yoururl" class="level-top ui-corner-all" id="ui-id-9" tabindex="-1" role="menuitem">
                <span>accessoires</span></a>
        </li>
        <li class="level0 nav-8 last level-top ui-menu-item" role="presentation"><a href="yoururl" class="level-top ui-corner-all" id="ui-id-9" tabindex="-1" role="menuitem">
                <span>zendontvangers</span></a>
        </li>

        <li class="level0 nav-8 last level-top ui-menu-item" role="presentation"><a href="yoururl" class="level-top ui-corner-all" id="ui-id-9" tabindex="-1" role="menuitem">
                <span>antennes & toebehoren</span></a>
        </li>
        <li class="level0 nav-8 last level-top ui-menu-item" role="presentation"><a href="yoururl" class="level-top ui-corner-all" id="ui-id-9" tabindex="-1" role="menuitem">
                <span>contact</span></a>
        </li>
        <li class="level0 nav-8 last level-top ui-menu-item" role="presentation"><a href="yoururl" class="level-top ui-corner-all" id="ui-id-9" tabindex="-1" role="menuitem">
                <span>smartportofoon</span></a>
        </li>
        <li class="level0 nav-8 last level-top ui-menu-item" role="presentation"><a href="yoururl" class="level-top ui-corner-all" id="ui-id-9" tabindex="-1" role="menuitem">
                <span>nieuws</span></a>
        </li>

    </ul>
</nav>

